<%- include('../layout/header.ejs') %>
<style>
  body{
    background-color: rgb(155, 142, 154);
  }
  
</style>
<h1 style="text-align: center;">Welcome to home page</h1>



<%- include('../layout/footer.ejs') %>
